{% extends "base.html" %}
{% block title %} Welcome - we're API crazy! {% endblock %}
{% block content %}
      <h5>This Web App was written in Flask + Python!</h5>
      </div>
      <div class="row center">
        <h5 class="header col s12 light">Emotion Sentiment Predictor:</h5>
          <ul>
            <li>Takes user input of sentiment (in text format - word, sentence or phrase) and displays one of three images to exhibit their mood - a negative, neutral or positive face. A default image is displayed by default, when the app has initially loaded.</li>
            </ul>
        <h5 class="header col s12 light">Data Visualisation:</h5>
          <ul>
            <li>Exhibits a simple polynomial graph with basic user-enabled configuration options of graph colour and graph input value range. </li>
            </ul>
        <h5 class="header col s12 light">Database Collections:</h5>
          <ul>
            <li>Is an API that shows the contents i.e. data records of our database (all Collections).</li>
            </ul>
        <h5 class="header col s12 light">Database Personnel:</h5>
          <ul>
            <li>An example of populating the database with sample records i.e. for Personnel.</li>
            </ul>
      </div>
{% endblock %}
